<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "../js/login.js" type="text/javascript">
   
</script>
</head>
<body>
   <center>
      <font size = "4" color = "blue"><b>Login Html</b></font>
      <hr>
      <table>
         <form name = "form" action="../Login" method="post">
            <tr>
               <td>User ID : </td>
               <td><input type = "text" name = "id" id= "id"></td>
            </tr>      
            <tr>
               <td>User password : </td>
               <td><input type = "password" name = "pwd" id= "pwd"></td>
            </tr>      
            <tr>
               <td colspan="2" align="center">
                  <input type = "button" value = "Submit" onclick="sendDate();">
                  <input type = "reset" value="Reset">
               </td>
            </tr>   
         </form>
      </table>
   </center>
</body>
</html>